[Unit]
Description=HomeBus Linux system status publisher
After=network.target

[Service]
Type=simple

User=homebus
WorkingDirectory=/home/homebus/homebus-linux

ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec homebus-linux.rb
TimeoutSec=30

Restart=always

[Install]
WantedBy=multi-user.target

